body{
margin:0;
height:100vh;
overflow:hidden;
background-image:url("img/Fondo.png");
background-size:cover;
background-position:center;
}

.campo{
position:relative;
width:100%;
height:100vh;
}

/* PERSONAJES */

.jugador{
position:absolute;
top:52%;
left:20%;
width:300px;
}

.jugadorchute{
position:absolute;
top:52%;
left:24%;
width:300px;
display:none;
}

/* PORTERO */

.portero{
position:absolute;
top:32%;
left:46%;
width:120px;
}

.porteroparadaderecha{
position:absolute;
top:28%;
left:38%;
width:150px;
display:none;
}

.porteroparadaizquierda{
position:absolute;
top:28%;
left:53%;
width:150px;
transform:scaleX(-1);
display:none;
}

/* PELOTA */

.pelota{
position:absolute;
top:77%;
left:38%;
width:70px;
}

.pelotagolderecha{
position:absolute;
top:30%;
left:60%;
width:40px;
opacity:0;
}

.pelotagolizquierda{
position:absolute;
top:30%;
left:38%;
width:40px;
opacity:0;
}

/* MIRAS */

.mira_izquierda{
position:absolute;
top:27%;
left:36%;
width:70px;
cursor:pointer;
animation:latido 1s infinite;
}

.mira_derecha{
position:absolute;
top:27%;
left:60%;
width:70px;
cursor:pointer;
animation:latido 1s infinite;
}

/* LATIDO MIRAS */

@keyframes latido{

0%{transform:scale(1);}
50%{transform:scale(1.2);}
100%{transform:scale(1);}

}

/* RESET */

.reset{
position:absolute;
bottom:30px;
left:50%;
transform:translateX(-50%);
padding:10px 20px;
font-size:20px;
display:none;
}

/* ANIMACION IZQUIERDA */

@keyframes tiroIzquierda{

0%{
top:77%;
left:38%;
width:70px;
transform:rotate(0deg);
}

100%{
top:30%;
left:38%;
width:40px;
transform:rotate(-720deg);
}

}

/* ANIMACION DERECHA */

@keyframes tiroDerecha{

0%{
top:77%;
left:38%;
width:70px;
transform:rotate(0deg);
}

100%{
top:30%;
left:60%;
width:40px;
transform:rotate(720deg);
}

}

/* DISPARO IZQUIERDA */

.campo.disparo_izquierda .jugador{
display:none;
}

.campo.disparo_izquierda .jugadorchute{
display:block;
}

.campo.disparo_izquierda .pelota{
animation:tiroIzquierda 1s forwards linear;
}

.campo.disparo_izquierda .portero{
display:none;
}

.campo.disparo_izquierda .porteroparadaizquierda{
display:block;
}

.campo.disparo_izquierda .mira_izquierda,
.campo.disparo_izquierda .mira_derecha{
display:none;
}

.campo.disparo_izquierda .reset{
display:block;
}

/* DISPARO DERECHA */

.campo.disparo_derecha .jugador{
display:none;
}

.campo.disparo_derecha .jugadorchute{
display:block;
}

.campo.disparo_derecha .pelota{
animation:tiroDerecha 1s forwards linear;
}

.campo.disparo_derecha .portero{
display:none;
}

.campo.disparo_derecha .porteroparadaderecha{
display:block;
}

.campo.disparo_derecha .mira_izquierda,
.campo.disparo_derecha .mira_derecha{
display:none;
}

.campo.disparo_derecha .reset{
display:block;
}